@charset "utf-8";
/* CSS Document */

.navegacao ul li:nth-child(3) a {
	color: #f9a431;
	cursor: default;
}
.menu-movel li:nth-child(3) a {
	background: #235674;
	color: #f9a431;
	cursor: default;
}
